anyio==3.6.2
astroid==3.0.0
atomicwrites==1.4.1
attrs==21.4.0
bcrypt==3.2.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.4
cryptography==41.0.0
distlib==0.3.1
django-crispy-forms==1.11.2
dnspython==2.2.1
ecdsa==0.17.0
email-validator==1.2.1
fastapi==0.78.0
filelock==3.0.12


h11==0.16.0
idna==3.3
iniconfig==1.1.1
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.0.3
lazy-object-proxy==1.4.3
Mako==1.2.0
MarkupSafe==2.1.0
mccabe==0.6.1
mysql-connector-python==8.0.27
orjson==3.9.10
packaging==21.3
passlib==1.7.4
pluggy==1.5
psycopg2-binary==2.9.9
py==1.11.0
pyasn1==0.4.8
pycparser==2.21

pydantic>=2.8.0
PyMySQL==1.0.2
pyparsing==3.0.9
pytest==8.2.1
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
pytz==2020.5
PyYAML==6.0.2
requests==2.32.2
rsa==4.9
six==1.16.0
sniffio==1.2.0
SQLAlchemy==2.0.41
sqlparse==0.4.1
starlette==0.19.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.12.1
ujson==5.8.0
urllib3==2.0.7
uvicorn==0.34.0
virtualenv==20.2.2
watchfiles==0.18.1
watchgod==0.8.2
websockets==10.4
wrapt==1.12.1
